.kotak-atas {
    width: 100%;
    height: 100px;
    background-color: lightgreen;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

/* Anaka Pertama */
.container .kotak:nth-child(1) {
    background-color: yellow;
    width: 20%;

/* Anak Kedua : Orange & Biru*/
}
.container .kotak:nth-child(2) {
    width: 79%;
}

.item-1 {
    background-color: orange;
}

.item-2{
    background-color: lightskyblue;
}
.kotak{
    height: 200px;
}